.item-detail-cont{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(230px, 1fr));
    padding: 20px;
}

.item-detail-cont > img{
    margin:auto;
    border-radius: 20px;
    width: 30vw;
}

.item-detail{
    padding: 20px 50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.612);
    border-radius: 15px;
}

@media screen and (width < 600px){
    .item-detail-cont{
        height: 100%;
    }

    .item-detail{
        margin-top: 20px;
    }
}

.finish-buying-container{
    max-width: 300px;
    width: 100%;
}

.finish-buying-btn{
    width: 100%;
    text-align: center;
    margin: 0;
    height: 40px;
    background-color:transparent;
    border:2px solid;
    color:white;
    background-color:rgb(48, 116, 175);
    border-radius: 10px;
}

.finish-buying-btn:hover{
    color:white;
    background-color:rgb(112, 143, 217);
}