.item-list-container{
    height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    color:white;
    padding-bottom:20px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    min-height: 100vh;
    height: 100%;
}